@import './variables.scss';

html {
  height: 100%;
}

body {
  background-color: lightgrey;
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

a {
  text-decoration: none;
  color: #cd1831;

  &:hover {
    text-decoration: underline;
    //color: #8f1022;
  }
}

.rbc-time-content .rbc-current-time-indicator {
  background-color: #8f1022;
}

h1 {
  padding-bottom: 0.25em;
}

h3 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.footnotes {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.footnotes-list {
  padding-left: 2em;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: inherit;
  border-radius: 0;
}

tr.unacknowledged,
div.unacknowledged {
  border-left: 3px solid $color-critical;
}

tr.acknowledged,
div.acknowledged {
  border-left: 3px solid $color-warning;
}

tr.resolved,
div.resolved {
  border-left: 3px solid $color-ok;
}

.list-label {
  font-weight: bold;
  width: 15%;
}

.list-value {
  width: 100%;
}

ul.no-separators {
  li {
    border: none;
  }
}

.margin-top-none {
  margin-top: 0;
}

.img-circle {
  border-radius: 50%;
}

.hide {
  height: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
}

.transition-out {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
}

.transition-in {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}
