html,
body {
  background-color: lightgrey;
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

a {
  text-decoration: none;
  color: #cd1831;
}

a:hover {
  text-decoration: underline;
}

/* react-big-calendar */
.rbc-time-content .rbc-current-time-indicator {
  background-color: #8f1022;
}
