platform: linux
params:
  MOBILE: '0'
inputs:
  - name: integration
outputs:
  - name: debug
image_resource:
  type: registry-image
  source: { repository: goalert/cypress-env, tag: '14.2.0' }
run:
  path: sh
  dir: integration/goalert
  args: [-e, ./devtools/ci/tasks/scripts/test-integration.sh]
