<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>GoAlert</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="preconnect" href="https://gravatar.com" />
    <link
      rel="shortcut icon"
      type="image/png"
      sizes="16x16"
      href="<%= require('../public/favicon-16.png') %>"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      sizes="32x32"
      href="<%= require('../public/favicon-32.png') %>"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      sizes="64x64"
      href="<%= require('../public/favicon-64.png') %>"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="<%= require('../public/favicon-192.png') %>"
    />
  </head>
  <body>
    <% if (process.env.NODE_ENV !== 'production') { %>
    <script src="/build/vendorPackages.dll.js"></script>
    <% } %>
    <!--[if lt IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <div id="app"></div>
    <div id="graceful-unmount"></div>
  </body>
</html>
