.flex-grid {
    display: flex;
  }

  .col {
    flex: 1;
  }

  .actions form {
    display: inline;
  }
  .actions input[type='submit'] {
    cursor: pointer;
    border: none;
    background: none;
    height: 100%;
    text-decoration: underline;
    color: #44c;
  }

  .thread {
    max-width: 600px;
  }
  .msg {
    margin: 0.5em;
    margin-bottom: 1em;
  }
  .msg .body {
    border-radius: 0.5em;
    padding: 0.5em;
    max-width: 400px;
  }

  .msg.out {
    text-align: right;
  }

  .msg.in .body {
    background-color: #aaa;
  }
  .msg.out .body {
    text-align: left;
    background-color: #ddf;
  }
