<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mocktwilio - SMS - {{.Name}}</title>
    <link rel="stylesheet" href="/ui/assets/main.css" />
    <link rel="stylesheet" href="/ui/assets/sms.css" />
  </head>

  <body>
    <script src="/ui/assets/liveupdate.js"></script>
    {{if .Error}}
    <div style="padding: 8px; border: 1px solid red; margin: 8px">
      <h1>Error</h1>
      <p>{{.Error}}</p>
    </div>
    {{end}}
    <h1><a href="/ui">&lt; Back</a> {{.Name}}</h1>

    <div class="thread" id="convo">
      {{range .Messages}}
      <div class="msg {{if .Sent}}out{{else}}in{{end}} flex-grid">
        {{if .Sent}}
        <div class="col"></div>
        {{end}}
        <span class="body" title="{{.FriendlyTime}}">{{.Body}}</span>
        {{if and .SMS .SMS.IsActive}}
        <div class="col actions">
          <form method="post">
            <input type="hidden" name="action" value="accept" />
            <input type="hidden" name="id" value="{{.SMS.ID}}" />
            <input
              type="submit"
              value="Accept"
              title="Mark this SMS message as delivered."
            />
          </form>

          <form method="post">
            <input type="hidden" name="action" value="reject" />
            <input type="hidden" name="id" value="{{.SMS.ID}}" />
            <input
              type="submit"
              value="Reject"
              title="Mark this SMS message as failed."
            />
          </form>
        </div>
        {{end}}
      </div>
      {{if .TimeHeader}}
      <div class="time">{{.TimeHeader}}</div>
      {{end}} {{end}}
    </div>

    <form method="post">
      <input type="hidden" name="action" value="sendSMS" />
      <input type="hidden" name="from" value="{{.Device}}" />
      <input name="body" value="" />
      <input type="submit" value="Send" title="Send SMS response." />
    </form>

    <script>
      liveUpdate('#convo')
    </script>
  </body>
</html>
