name: labeler

on:
  pull_request:
    types: ['opened', 'ready_for_review', 'reopened', 'synchronize']

jobs:
  labeler:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    name: Label the PR size
    steps:
      - uses: codelytv/pr-size-labeler@54c3c1d94030222b5d7c46fe61ce7c83e6a51941
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          xs_label: 'size/xs'
          xs_max_size: '15'
          s_label: 'size/s'
          s_max_size: '100'
          m_label: 'size/m'
          m_max_size: '250'
          l_label: 'size/l'
          l_max_size: '500'
          xl_label: 'size/xl'
          fail_if_xl: 'false'
          message_if_xl: >
            This PR exceeds the recommended size of 500 lines.
            Please make sure you are NOT addressing multiple issues with one PR.
            Note this PR might be rejected due to its size.
          files_to_ignore: |
            "*.lock"
            "graphql2/generated.go"
            "graphql2/maplimit.go"
            "graphql2/mapconfig.go"
            "graphql2/models_gen.go"
            "pkg/sysapi/*.pb.go"
            "swo/swodb/*.go"
            "web/src/*.d.ts"
            "Makefile.binaries.mk"
            "gadb/*.go"
            "migrate/schema.sql"
            "go.mod"
            "go.sum"
            ".yarn/releases/*"
            "devtools/pgdump-lite/pgd/*"
            "timezone/*.txt"
